<!-- <ion-header>
  <ion-toolbar>
    <ion-title>products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
<ion-content>
  <div class="card">
    <div class="container"
      style="padding: 0 30px;max-width: 700px;min-height: 500px; border: 1px solid; border-radius: 10px;">
      <div class="row">
        <div style="margin: 0px; margin-top: 10px;">
          <h2 style="color: #202040; font-size: 35px;">Lista de Productos</h2>
        </div>
      </div>
      <div class="row">
        <div class="input-group input-group-sm mb-3">
          <input type="text" class="form-control" placeholder="Nombre de Producto" aria-label="Recipient's username"
            aria-describedby="basic-addon2" [(ngModel)]="product.name">
          <div class="input-group-append">
            <button (click)="sendProduct()" class="btn btn-outline-secondary" type="button">Agregar</button>
          </div>
        </div>
      </div>
      <!-- <ion-content> -->
      <ion-list>
        <ion-item *ngFor="let prd of listProducts.slice().reverse()">
          <div class="row">
            <div class="col-sm">
              <ion-label>{{prd.id}} - {{prd.name}}</ion-label>
            </div>
          </div>
        </ion-item>
      </ion-list>
      <!-- </ion-content> -->
      <!-- <div *ngFor="let prd of listProducts.slice().reverse()">
      <div class="row">
        <div class="col-sm">
          <h3>{{prd.id}} - {{prd.name}}</h3>
        </div>
      </div>
    </div> -->
      <div class="col-sm">
      </div>
    </div>
  </div>
</ion-content>