<div class="card">
  <div class="container"
    style="margin-bottom: 50px;padding: 0 50px;max-width: 700px;min-height: 500px; border: 1px solid; border-radius: 10px;">
    <div class="row">
      <div style="margin: 0px; margin-top: 30px;">
        <h1 style="color: #202040; font-size: 35px;">Lista de Productos</h1>
      </div>
    </div>
    <div class="row">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Nombre de Producto" aria-label="Recipient's username"
          aria-describedby="basic-addon2" [(ngModel)]="product.name">
        <div class="input-group-append">
          <button (click)="sendProduct()" class="btn btn-outline-secondary" type="button">Agregar</button>
        </div>
      </div>
    </div>
    <div *ngFor="let prd of listProducts.slice().reverse()">
      <div class="row">
        <div class="col-sm">
          <h3>{{prd.id}} - {{prd.name}}</h3>
        </div>
      </div>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>